### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.idea/
target/
cache/
target/
*.png
*.jpg
deviceInfo.json
src/main/resources/application-local.yml
/txlib/8.9.70/.system_android_l2
/txlib/8.9.70/stderr
/txlib/8.9.70/stdin
/txlib/8.9.70/stdout
